{%extends 'base.html'%}

{%block title%}Basics{%endblock title%}





{% block body%}


<main id="content" role="main">
    <!-- Hero -->
    <div class="bg-dark" style="background-image: url(static/NUke.jpg);">
      <div class="container content-space-2 content-space-lg-3">
        <div class="w-lg-65 text-center mx-lg-auto">
          <span class="badge bg-warning text-dark rounded-pill mb-3"></span>
          <h1 class="text-white mb-3">DjangoInfo</h1>
        </div>
      </div>
    </div>
    <!-- End Hero -->

    <!-- Content -->
    <div class="container content-space-2 content-space-lg-0">
      <div class="row">
        <div class="col-lg-4 mt-lg-n10 mb-7 mb-lg-0">
          <!-- Sticky Block -->
          <div id="stickyBlockStartPoint" style="">
            <div class="js-sticky-block hs-kill-sticky" data-hs-sticky-block-options="{
                   &quot;parentSelector&quot;: &quot;#stickyBlockStartPoint&quot;,
                   &quot;targetSelector&quot;: &quot;#header&quot;,
                   &quot;breakpoint&quot;: &quot;lg&quot;,
                   &quot;startPoint&quot;: &quot;#stickyBlockStartPoint&quot;,
                   &quot;endPoint&quot;: &quot;#stickyBlockEndPoint&quot;,
                   &quot;stickyOffsetTop&quot;: 20
                 }" style="">
              <!-- Card -->
              <div class="card">
                <div class="card-header border-bottom text-center">
                  <img class="avatar avatar-xxl avatar-4x3" src="static/razer_green_background-wallpaper-1920x1080.jpg" height="20px" width="30px" alt="DjangoInfo">
                </div>

                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-4">Basics</dt>
                    
                  </dl>
                  <!-- End Row -->

              

                  <dl class="row">
                    <dt class="col-sm-4">#</dt>
                    <dd class="col-sm-8">Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It is free and open source, has a thriving and active community, great documentation, and many options for free and paid-for support.</dd>
                  </dl>
                  <!-- End Row -->

                  

                  <hr class="my-4">

                  <div class="mb-3">
                    <h4></h4>
                  </div>

                  <dl class="row">
                    <dt class="col-sm-4 mb-2 mb-sm-0">
                      <div class="svg-icon text-primary">
                        

                      </div>
                    </dt>
                    <!-- End Col -->

                    <dd class="col-sm-8">
                      <h5 class="mb-0"></h5>
                      <p class="mb-0"></p>
                    </dd>
                    <!-- End Col -->
                  </dl>
                  <!-- End Row -->

                  <dl class="row">
                    <dt class="col-sm-4 mb-2 mb-sm-0">
                      <div class="svg-icon text-primary">
                      

                      </div>
                    </dt>
                    <!-- End Col -->

                    <dd class="col-sm-8">
                      <h5 class="mb-0"></h5>
                      <p class="mb-0"></p>
                    </dd>
                    <!-- End Col -->
                  </dl>
                  <!-- End Row -->
                </div>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- Sticky Block -->
        </div>
        <!-- End Col -->

        <div class="col-lg-8 content-space-t-lg-2 ">
          <div class="ps-lg-4">
            <h2 class="h3"></h2>
            <h2 class="h2">History</h2>
<div class="container">
    <div class="clearer"></div>
    <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Django makes it easier to build better web apps quickly and with less code.</p>
    <p><b>Note</b> &minus; Django is a registered trademark of the Django Software Foundation, and is licensed under BSD License.</p>
    <h2>History of Django</h2>
    <ul class="list">
    <li><p><b>2003</b> &minus; Started by Adrian Holovaty and Simon Willison as an internal project at the Lawrence Journal-World newspaper.</p></li>
    <li><p><b>2005</b> &minus; Released July 2005 and named it Django, after the jazz guitarist Django Reinhardt.</p></li>
    <li><p><b>2005</b> &minus; Mature enough to handle several high-traffic sites.</p></li>
    <li><p><b>Current</b> &minus; Django is now an open source project with contributors across the world.</p></li>
    </ul>
    <h2>Django – Design Philosophies</h2>
    <p>Django comes with the following design philosophies &minus;</p>
    <ul class="list">
    <li><p><b>Loosely Coupled</b> &minus; Django aims to make each element of its stack independent of the others.</p></li>
    <li><p><b>Less Coding</b> &minus; Less code so in turn a quick development.</p></li>
    <li><p><b>Don't Repeat Yourself (DRY)</b> &minus; Everything should be developed only in exactly one place instead of repeating it again and again.</p></li>
    <li><p><b>Fast Development</b> &minus; Django's philosophy is to do all it can to facilitate hyper-fast development.</p></li>
    <li><p><b>Clean Design</b> &minus; Django strictly maintains a clean design throughout its own code and makes it easy to follow best web-development practices.</p></li>
    </ul>
    <h2>Advantages of Django</h2>
    <p>Here are few advantages of using Django which can be listed out here &minus;</p>
    <ul class="list">
    <li><p><b>Object-Relational Mapping (ORM) Support</b> &minus; Django provides a bridge between the data model and the database engine, and supports a large set of database systems including MySQL, Oracle, Postgres, etc. Django also supports NoSQL database through Django-nonrel fork. For now, the only NoSQL databases supported are MongoDB and google app engine.</p></li>
    <li><p><b>Multilingual Support</b> &minus; Django supports multilingual websites through its built-in internationalization system. So you can develop your website, which would support multiple languages.</p></li>
    <li><p><b>Framework Support</b> &minus; Django has built-in support for Ajax, RSS, Caching and various other frameworks.</p></li>
    <li><p><b>Administration GUI</b> &minus; Django provides a nice ready-to-use user interface for administrative activities.</p></li>
    <li><p><b>Development Environment</b> &minus; Django comes with a lightweight web server to facilitate end-to-end application development and testing.</p></li>
    </ul>
    
        
</div>


            <div class="my-4">
              <img class="img-fluid rounded-2" src="static/work_3-wallpaper-1920x1080.jpg" alt="Image Description">
            </div>

            <h2 class="h2">Popularity</h2>
<p>Django is widely accepted and used by various well-known sites such as:</p>
<ul class="points">
<li>Instagram</li>
<li>Mozilla</li>
<li>Disqus</li>
<li>Pinterest</li>
<li>Bitbucket</li>
<li>The Washington Times</li>
</ul>
<h2 class="h2">Features of Django</h2>
<ul class="points">
<li>Rapid Development</li>
<li>Secure</li>
<li>Scalable</li>
<li>Fully loaded</li>
<li>Versatile</li>
<li>Open Source</li>
<li>Vast and Supported Community</li>

            <!-- End Sticky End Point -->
            <div id="stickyBlockEndPoint"></div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Testimonials -->
    <div class="container content-space-b-2 content-space-lg-3">
      <div class="text-center">
        <img class="mb-5" src="static/razer_green_background-wallpaper-1920x1080.jpg" alt="Illustration" style="width: 12.5rem;">
      </div>
      
      <!-- Blockquote -->
      <figure class="w-md-75 text-center mx-md-auto">
        <blockquote class="blockquote">“ Hope YOu guys enjoying this  ”</blockquote>

        
  </main>
{% endblock body%}
